[include]
  path = "~/.dotfiles/git/themes.gitconfig"

[alias]
  g = "git"
  undo = "reset --soft HEAD^"

[user]
	name = Jaume Capdevila
	email = capdevil@adobe.com

[init]
	defaultBranch = main

[fetch]
  prune = true

[push]
  autoSetupRemote = true

[pull]
  rebase = false

[core]
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  editor = nvim
  pager = "delta"
  ignorecase = false

[interactive]
	diffFilter = delta --color-only

[delta]
  features = "rose-pine-main"
  keep-plus-minus-markers = true
  light = false
  line-numbers = false
  line-numbers-left-format = "{nm:>4}"
  line-numbers-right-format = "{np:>4}"
  navigate = true
  side-by-side = false

[diff]
	colorMoved = default

[merge]
	conflictstyle = diff3
	tool = vimdiff

[mergetool]
  prompt = false
  path = nvim

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[branch "main"]
  remote = origin
  merge = refs/heads/main
