[alias]
  g = "git"
  undo = "reset --soft HEAD^"

[user]
	name = Jaume Capdevila
	email = capdevil@adobe.com

[init]
	defaultBranch = main

[fetch]
  prune = true

[push]
  autoSetupRemote = true

[pull]
  rebase = false

[core]
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  editor = nvim
  pager = "delta"
  ignorecase = false

[interactive]
	diffFilter = delta --color-only

[delta]
  features = "tokyo-storm"
  keep-plus-minus-markers = true
  light = false
  line-numbers = false
  line-numbers-left-format = "{nm:>4}"
  line-numbers-right-format = "{np:>4}"
  navigate = true
  side-by-side = false

[delta "tokyo-night"]
  minus-style                   = syntax "#37222c"
  minus-non-emph-style          = syntax "#37222c"
  minus-emph-style              = syntax "#713137"
  minus-empty-line-marker-style = syntax "#37222c"
  line-numbers-minus-style      = "#914c54"
  plus-style                    = syntax "#20303b"
  plus-non-emph-style           = syntax "#20303b"
  plus-emph-style               = syntax "#2c5a66"
  plus-empty-line-marker-style  = syntax "#20303b"
  line-numbers-plus-style       = "#449dab"
  line-numbers-zero-style       = "#3b4261"
  syntax-theme = "Tokyo Night"

[delta "tokyo-storm"]
  minus-style                   = syntax "#3f2d3d"
  minus-non-emph-style          = syntax "#3f2d3d"
  minus-emph-style              = syntax "#763842"
  minus-empty-line-marker-style = syntax "#3f2d3d"
  line-numbers-minus-style      = "#914c54"
  plus-style                    = syntax "#283b4d"
  plus-non-emph-style           = syntax "#283b4d"
  plus-emph-style               = syntax "#316172"
  plus-empty-line-marker-style  = syntax "#283b4d"
  line-numbers-plus-style       = "#449dab"
  line-numbers-zero-style       = "#3b4261"
  syntax-theme = "Tokyo Storm"

[diff]
	colorMoved = default

[merge]
	conflictstyle = diff3
	tool = vimdiff

[mergetool]
  prompt = false
  path = nvim

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[branch "main"]
  remote = origin
  merge = refs/heads/main
