[user]
	name = jaumecapdevila
	email = contact@jaumecapdevila.net

[alias]
    a = add
    A = add -A
    b = branch
    del = branch -D
    ci = commit
    am = commit --amend
    count-commits = rev-list --count
    cl = clone
    co = checkout
    contains = describe --all --contains
    d = diff
    ds = diff --staged
    f = fetch
    graph = log --graph --pretty=oneline --abbrev-commit --decorate --all
    l = log
    last = log -1 HEAD
    m = merge
    mt = mergetool
    master = checkout master
    p = push
    pl = pull
    plum = pull upstream master
    pum = push upstream master
    pom = push origin master
    plom = pull origin master
    r = reset
    hard = reset --hard
    soft = reset --soft
    unstage = reset HEAD
    rb = rebase
    st = status
    sa = submodule add
    si = submodule init
    su = submodule update
    ss = submodule status
    save = stash save
    pop = stash pop
    sub = submodule
    t = tag
    set-url = remote set-url origin

    # custom functions
    changelog = "!git log --oneline --no-merges $1..HEAD"
    difference = "!git log --oneline $1..$2"

    # refresh the date of commits
    refresh = "!git rebase HEAD~$1 --ignore-date"
    local = "!git log --oneline --no-merges origin/$(git rev-parse --abbrev-ref HEAD).."
    mindiff = diff -w --word-diff-regex=. --color-words -U0
    overview = log --all --since='2 weeks' --oneline --no-merges
    recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
    sneak = commit -a --amend --no-edit
    stats = shortlog -sn
    today = "!git log --since='00:00:00' --all --no-merges --oneline --author=$(git config user.email)"
    wdiff = diff --word-diff
    upstream = "!git fetch && git log --oneline --no-merges ..origin/$(git rev-parse --abbrev-ref HEAD)"

    # github(hub) shortcuts
    view = browse --
    code = browse --
    issues = browse -- issues
    pulls = browse -- pulls
    wiki = browse -- wiki
    projects = browse -- projects
    insights = browse -- insights
    settings = browse -- settings
    releases = browse -- releases

[fetch]
    prune = true

[push]
    default = simple

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[core]
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes
    editor = vim
    autocrlf = input
    trustctime = false
    precomposeunicode = false
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[help]
    autocorrect = 1

[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true

[diff]
    tool = vimdiff
    compactionHeuristic = true
    indentHeuristic = true

[difftool]
    prompt = false

[diff "json"]
    textconv = python -m json.tool

[diff "word"]
    textconv = docx2txt

[credential]
    helper = osxkeychain

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[apply]
    whitespace = fix

[commit]
    gpgsign = false

[gpg]
    program = gpg

[url "git@github.com:"]
    insteadOf = https://github.com/

[pull]
    rebase = false
