[submodule "modules/dotbot"]
	path = modules/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
	
[submodule "modules/fzf-git"]
	path = modules/fzf-git
	url = https://github.com/junegunn/fzf-git.sh
