# MacOS
# ----------------------------------

# Karabiner
/mac/karabiner-elements/automatic_backups

# Alfred
/mac/alfred/remote

# Common
# ----------------------------------

# Compiled zsh
shell/**/**.zwc
shell/**/**.zwc.old

# Private Stuff
/**/**/private-*
