{:profiles
  {:default {
    :alone              500
    :default            true
    :delay              200
    :held               500
    :sim                200
    :simlayer-threshold 220
  }}

  :applications {
    ;; To obtain the app ID: `grep -A1 "CFBundleIdentifier" /Applications/AppName.app/Contents/Info.plist`
    :Firefox  ["org.mozilla.firefox"]
    :Finder   ["com.apple.finder"]
    :iTerm    ["com.googlecode.iterm2"]
    :Notion   ["notion.id"]
    :Slack    ["com.tinyspeck.slackmacgap"]
  }

  :froms {
    :sublime-delete-line {:modi [:left_shift :left_control] :key :k}
    :search {:modi :left_command :key :f}
  }

  ;; A simlayer is a combination of keys with a small delay between them
  ;; example: o + t = open terminal
  :simlayers {
    :open {:key :o}
  }

  ;; Templates to be used in the rules
  :templates {
    :open "open -a '%s.app'"
  }

  :main
  [
    ;; ------------ Launchers ------------
    {:des "Open things"
      :rules [:open
        [:t [:open "iTerm"]]
        [:f [:open "Firefox"]]
        [:l [:open "Slack"]]
        ;; Code editors
        [:s [:open "Sublime Text"]]
        [:c [:open "Visual Studio Code"]]
        [:e [:open "PhpStorm"]]
        [:i [:open "IntelliJ IDEA Ultimate"]]
        [:m [:open "Postman"]]
        [:d [:open "TablePlus"]]
        ;; Utils
        [:1 [:open "1Password 7"]]
        [:2 [:open "Notion"]]
        [:3 [:open "Todoist"]]
        [:4 [:open "WhatsApp"]]
      ]}

    ;; ------------ Utils ------------

    ;; ------------ Remaps ------------
    {:des "Caps lock to Fn"
      :rules [[:caps_lock :fn]]}

    ;; {:des "Disable arrows"
    ;;   :rules [
    ;;     [:left_arrow :vk_none]
    ;;     [:up_arrow :vk_none]
    ;;     [:down_arrow :vk_none]
    ;;     [:right_arrow :vk_none]
    ;;   ]}

    ;; {:des "Disable Delete"
    ;;   :rules [[:delete_or_backspace :vk_none]]}

    {:des "Fn + h to Delete"
      :rules [[:!Fh :delete_or_backspace]]}

    {:des "Fn + i/j/k/l to arrows"
      :rules [
        [:!Fj :left_arrow]
        [:!Fi :up_arrow]
        [:!Fk :down_arrow]
        [:!Fl :right_arrow]
      ]}

    ;; ------------ Application specific ------------
    {:des "[iTerm] Delete line" :rules [:iTerm [:sublime-delete-line :!Tw]]}
  ]
  ;; ------------ Modifiers Cheatsheest ------------
  ;; !  stand for mandatory
  ;; #  stand for optional
  ;; !! stand for mandatory command + control + optional + shift (hyper)
  ;; ## stand for optional any
  ;; C T O S for left command control option shift
  ;; Q W E R for right command control option shift
  ;; F for fn
  ;; P for caps_lock
  ;; need to prefix C T O S F Q W E R with ! or #
  :cheatsheet
  {:!Ca        "command a"
  :!Ta        "control a"
  :!Oa        "option a"
  :!Sa        "shift a"
  :#Sa        "shift a"
  :!CTOa      "command control option a"
  :!Cspacebar "command space"
  :!Fa        "fn a"
  :##a        "keycode a optional any"
  :!!a        "mandatory hyper (control command option shift) a "
  :template   {:des "Description of your action"
               :rules [[:!Cspacebar "command to execute"]]}}}
