/* Comment Class */
.mtk4 {
  font-family: "Monaspace Radon";
  font-weight: 400;
}

/* Copilot Classes */
.ghost-text-decoration {
  font-family: "Monaspace Radon";
  font-weight: 400;
}

.ghost-text-decoration-preview {
  font-family: "Monaspace Radon";
  font-weight: 400;
}
