themes {
  ayu_mirage {
		bg "#191e2a"
		fg "#cbccc6"
		red "#ed8274"
		green "#a6cc70"
		blue "#6dcbfa"
		yellow "#fad07b"
		magenta "#cfbafa"
		orange "#f29e74"
		cyan "#90e1c6"
		black "#191e2a"
		white "#ffffff"
	}
}
