themes {
  everforest_dark_hard {
		bg "#272E33"
		fg "#D3C6AA"
		red "#E67E80"
		green "#A7C080"
		blue "#7FBBB3"
		yellow "#fad07b"
		magenta "#D699B6"
		orange "#e69875"
		cyan "#83C092"
		black "#272E33"
		white "#D3C6AA"
	}
}
