themes {
  flexoki_dark {
		bg "#100f0f"
		fg "#cecdc3"
		red "#d14d41"
		green "#879a39"
		blue "#4385be"
		yellow "#d0a215"
		magenta "#ce5d97"
		orange "#BC5215"
		cyan "#3aa99f"
		black "#100f0f"
		white "#cecdc3"
	}
}
