themes {
  iceberg_dark {
		bg "#161821"
		fg "#c6c8d1"
		red "#e27878"
		green "#b4be82"
		blue "#84a0c6"
		yellow "#e2a478"
		magenta "#a093c7"
		orange "#e9b189"
		cyan "#89b8c2"
		black "#161821"
		white "#d2d4de"
	}
}
