themes {
  kanagawa_dragon {
		bg "#181616"
		fg "#c5c9c5"
		red "#c4746e"
		green "#8a9a7b"
		blue "#8ba4b0"
		yellow "#c4b28a"
		magenta "#a292a3"
		orange "#b6927b"
		cyan "#8ea4a2"
		black "#181616"
		white "#a6a69c"
	}
  kanagawa_wave {
		bg "#1f1f28"
		fg "#dcd7ba"
		red "#c34043"
		green "#76946a"
		blue "#7e9cd8"
		yellow "#c0a36e"
		magenta "#957fb8"
		orange "#ff9e3b"
		cyan "#6a9589"
		black "#1f1f28"
		white "#dcd7ba"
	}
}
