themes {
  nightfly {
		bg "#011627"
		fg "#bdc1c6"
		red "#fc514e"
		green "#a1cd5e"
		blue "#82aaff"
		yellow "#e3d18a"
		magenta "#c792ea"
		orange "#f09479"
		cyan "#7fdbca"
		black "#011627"
		white "#d6deeb"
	}
}
